<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myAutocomplete</title>

 
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
  


    <script type="text/javascript" src="static/restSearch.js"></script>
 

</head>


<body>

<div class="container">

        <form id="my-form" class="form-inline">
                <div class = "form-group mb-2">
                    <div class="ui-widget">
                        <label for="restSearch" class="sr-only">Nova Pesquisa: </label>
                        <input id="restSearch" class="form-control" placeholder="Search">
                    </div>
                </div>  
                <button type="submit" class="btn btn-primary mb-2">Submit</button>            
        </form>
</div>




           

	
    <script>
        (function($){            
            function processForm( e ){
                $.ajax({
                    url: 'https://autocomplete-dito.herokuapp.com/sugestions',                    
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ name : $('#restSearch').val() }),      
                                                 
                    success: function( data, textStatus, jQxhr ){
                        console.log('OK');
                    },
                    error: function( jqXhr, textStatus, errorThrown ){
                        console.log(JSON.stringify({ "name": $('#restSearch').val() }))
                        console.log( errorThrown );
                    }
                });    
                e.preventDefault();
            }    
            $('#my-form').submit( processForm );
        })(jQuery);
    </script>
</body>

</html>